.nav-menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 0;  
    height: 90px;
    background-color: #E94545;
    top: 0;
    box-shadow: 0px 3px 5px 0.42;
    margin-top: 0;
    margin-bottom: 1rem;
  }
  
.link{
    text-decoration: none;
    font-weight: 500;
    font-size: 1.3em;
    color:#131313;
  }