* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}a {
    text-decoration: none !important; 
}
a:hover {
    text-decoration: underline ; 
}

button {
    border: none;
    background: none;
    font-family: var(--font-poppins);
}
