@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Outfit&display=swap");

:root {
    /*fuentes*/
    font-family: "Inter", sans-serif;
    font-family: "Outfit", sans-serif;
}

$c-principal: #E57373;      // Naranja
$c-secundario: #27AE60;    // Verde
$c-letras: #333333;        // Gris oscuro
$c-fondo: #F4F4F4;         // Gris claro
$c-nav-footer: #BB8FCE; 
$negro: #090909 ;
$blanco: #f9f9f9 ;
