@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Outfit&display=swap");

:root {
    /*fuentes*/
    font-family: "Inter", sans-serif;
    font-family: "Outfit", sans-serif;
}

$c-principal: #f9e076;
$c-secundario: #001f3f;
$c-letras: #85144b;
$c-fondo: #fde992;
$c-nav-footer: #c4ebf1;
$negro: #090909 ;
$blanco: #f9f9f9 ;
