.button {
    background-color: $c-nav-footer !important;
    margin: 3%;
    position: relative;
    font-family: var(Inter) !important;
    color: $c-letras !important;
    text-decoration: none !important;
}

