.precio {
    text-align: center ;
}
.card {
    background-color: rgb(179, 179, 153) !important;
    width: 20rem;
}

.btn-card {
    font-weight: 650;
    color: #131313;
    padding: 0.7en 1.7em;
    font-size: 18px;
    border-radius: 0.5em;
    background: #E94545;
    border: 3px solid #D2D2D2;
    text-decoration: none !important;
    transition: all .3s;
    box-shadow: 6px 6px 12px #c5c5c5,
                -6px -6px 12px #fff;
    text-align: center ;
}
button:hover {
    box-shadow: -6px -6px 12px #c5c5c5,
        6px 6px 12px #fff;
}
.imgTamaño {
    object-fit: fill ;
    max-width: 290px;
    max-height: 290px;
    margin: 3%;
    align-items: center;
}

